@page
@model BPA.FE.Pages.PostManage.EditModel

@{
    ViewData["title"] = "Edit";
}

<h1>Edit</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Post.id" />
            <div class="form-group">
                <label asp-for="Post.title" class="control-label"></label>
                <input asp-for="Post.title" class="form-control" />
                <span asp-validation-for="Post.title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.content" class="control-label"></label>
                <input asp-for="Post.content" class="form-control" />
                <span asp-validation-for="Post.content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.created_on" class="control-label"></label>
                <input asp-for="Post.created_on" class="form-control" />
                <span asp-validation-for="Post.created_on" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
